MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/doctor_portfolio?retryWrites=true&w=majority
NEXT_PUBLIC_SITE_URL=https://drrashed.bd
REVALIDATE_SECRET=generate-a-secure-random-secret
ADMIN_DEMO_USER=superadmin
ADMIN_DEMO_PIN=secure_pin_or_password
